
@import url('https://fonts.googleapis.com/css?family=Catamaran');

.button-bold {
  font-family: 'Catamaran';
  font-weight: 500;
  background-color: purple;
  color: white;
  font-size: 620px;
  align-items: center;
  max-width: 75%;
  height: 105%;
}


back {
  background: linear-gradient( to right bottom, #522FF5, #65CAFA);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
back2 {
  background: linear-gradient( to right bottom, #522FF5, #6765fa);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
back3 {
  background: linear-gradient( to right bottom, #2f53f5, #6765fa);
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h4 {

 
  color: white;
  align-items: left;
  text-align: left;
  padding-top:15px;
  padding-left: 10px;
  font-size:2vh;
}

h2 {
  font-size:4vh;
  color: white;
  align-items: center;
  text-align: center;
  padding-bottom: 3%;
}


h1 {
  font-family: 'Catamaran';
  font-weight: 900;
  text-align: center;
  background: linear-gradient( to right bottom, #522FF5, #65CAFA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.mockup {
  height: auto; 
  width: auto; 
  margin: auto;
  max-height: 500px;
 
}

.icon {
  height: 2vh; 
width: auto;
  object-fit: block;
  margin: auto;
  align-items: right;
  padding-left: 10px;
}

.zstack {
	display: grid;
	align-items: center;
	justify-items: center;
}
.zstack > * {
	grid-area: 1/1/1/1;
}

